<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShinrinMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C7F64B533C355A7F0F77A6917887B1B07992051</string>
				<key>dateExpires</key>
				<string>8/26/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C7F64B533C355A7F0F77A6917887B1B07992051</string>
						<key>dateExpires</key>
						<string>8/26/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libSkiaSharp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T7CV3788Z5</string>
						<key>name</key>
						<string>BIZ SYSTEMS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T7CV3788Z5.vn.bizsys.ShinrinMobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T7CV3788Z5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T7CV3788Z5.vn.bizsys.ShinrinMobile</string>
				</array>
			</dict>
			<key>name</key>
			<string>ShinrinMobile.iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6a7e5e37-ebfa-4e1b-bab5-9e7d8158d2eb</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: vn.bizsys.ShinrinMobile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T7CV3788Z5</string>
				<key>name</key>
				<string>BIZ SYSTEMS JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
